input.text,
textarea {
    position: relative;
    display: -moz-inline-box; /* ff2 */
    *display: inline; /* ie6&7 */
    border: 1px solid #bbb;
    padding: 7px 7px;
    font-size: 15px;
    vertical-align: top;
    -khtml-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -khtml-appearance: none;
    -moz-appearance: none;
    height: 350px;
    width:  700px;
    overflow: hidden;
}
.input-wrapper {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline; /* ie6&7 */
    border: 0px solid #bbb;
    line-height: 18px;
    vertical-align: middle;
}
.input-wrapper label {
    z-index: 1;
    position: absolute;
    height: 30px;
    padding: 7px 7px;
    font-size: 15px;
    color: #999;
    overflow: hidden;
}
.input-wrapper.focus label {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.input-wrapper.filled label {
    display: none;
}
